<form (ngSubmit)="updateProdcasts(userId,token)">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" value="{{updateProdcast?.name}}" name="name" [(ngModel)]="prodcast.name" required >
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" value="{{updateProdcast?.author}}" name="author" [(ngModel)]="prodcast.author" required >
      </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" value="{{updateProdcast?.description}}" name="description" [(ngModel)]="prodcast.description" required></textarea>
    </div>
    <div>
        <label for="small-description">Small Description:</label>
        <input type="url" id="small-description" value="{{updateProdcast?.small_description}}" name="small-description" [(ngModel)]="prodcast.small_description" required>
      </div>
      <div>
          <div>
            <label for="audio-link">Audio Link:</label>
            <input type="url" id="audio-link" value="{{updateProdcast?.audio_link}}" name="audio-link" [(ngModel)]="prodcast.audio_link" required>
          </div>
        <label for="banner_image">Banner image:</label>
        <input type="file" id="banner_image" name="banner_image" (change)="onFileSelected($event,token)" required>
      </div>
      <div *ngIf="updateProdcast?.banner_image">
        <img [src]="imgUrl|| updateProdcast?.banner_image" alt="Banner Image" style="max-width: 300px; max-height: 200px;"/>
      </div>
      
      <button type="submit">Submit</button>
    </form>